<section id="item">
    <form action="/edit-item/" method="POST">
      {% csrf_token %}
      
        <label for="itemname">Item:</label><br>
        <input type="text" id="itemname" name="itemname" value="{{item.name}}"><br>
        <label for="url">URL:</label>
        <input type="text" id="url" name="url" value="{{item.url}}">
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" value="{{item.description}}">
        <label for="pictureurl">Picture URL:</label><br>
        <input type="text" id="pictureurl" name="pictureurl" value="{{item.picture_url}}"><br><br>
        <input type="hidden" value="{{item.item_id}}" name=item_id>
        <input type="submit" value="Submit">
      </form> 
</section>