<section id="item">
    <form action="/items" method="post">
        <label for="itemname">Item:</label><br>
        <input type="text" id="itemname" name="itemname" value="{{item.name}}"><br>
        <label for="url">URL:</label>
        <input type="text" id="url" name="url" value="{{item.url}}">
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" value="{{item.dexcription}}">
        <label for="pictureurl">Picture URL:</label><br>
        <input type="text" id="pictureurl" name="pictureurl" value="{{item.picture_url}}"><br><br>
        <input type="submit" value="Submit">
      </form> 
</section>