<!--For List Box on Home Page-->
<!--ToDo: Change to a GET CALL-->
<!-- <h3><a>{{name}}</a></h3> -->

<center><div class="click-wishlist">
    <div class="view-click-wishlist">
        <form action="{% url 'full-list' %}">
            <input type="hidden"name='list_id' value={{id}}>
            <label><b>Name of Wishlist:</b></label>
            <button type="submit">{{name}}</button>
        </form>
    </div>
    <div class="delete-click-wishlist">
        <form action="{% url 'delete-list' %}" method="DELETE">
            <input type="hidden"name='list_id' value={{id}}>
            <button type="submit"><i class="far fa-trash-alt"></i> Delete {{name}} </button>
        </form>
    </div>
</div></center>