{% extends 'wishlist/base/base.html' %}
{% load static %}

{% block tab_title % } Account { %endblock % }
{% block body %}

<center><div style="width:50%;"><h1>Edit User Info</h1>
    <!-- <br>

    <h2> Edit First Name: <input type="text" name = "newFname" placeholder = "First Name"></h2>

    <h2> Edit First Name: <input type="text" name = "newLname" placeholder = "Last Name"></h2>

    <h2> Edit Userame: <input type="text" name = "newUname" placeholder = "Username"></h2>

    <button onclick="location.href = '/home'">Cancel</button>
    <button onclick="location.href = '/account'">Update</button> -->
    
    <form action = " " method= "POST">
        {%csrf_token%}
        {{form}}
        <button type ="submit" name ="Submit">Submit</button>
        </form>
</div></center>
    {% endblock %}  