{% extends 'wishlist/base/base.html' %}
{% load static %}

{% block tab_title %} Home {% endblock %}
{% block body %}

   <div class="wishlist">
      <center><h1>Wishlists</h1></center>
      <center><div class="add-wishlist">
         <form action='/new-list/' method="POST">
            {% csrf_token %} 
            <label for="new_list"><b>New Wishlist</b></label>
            <input type="text" placeholder="New Wishlist" name="new_list" required>
            <button type='submit'><i class="fas fa-plus"></i></button>
         </form>
      </div></center>
      <section>
         {% for list in wishlist %}
         {% include 'wishlist/includes/list.html' with name=list.list_name id=list.list_id %}
         {% endfor%}
      </section>
   </div>
    {% endblock %}  
  