{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist | {% block tab_title %}  {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'wishlist/styles/base.css' %}">
</head>
<body>
    <!-- Header -->
    <!-- Will need conditional for admin maybe-->
    <center><header><h1>Welcome to Wishlist</h1></header><center>
    <center><h2>You got a wish? Put it in a list!</h2><center>

        <header>
            <div class="nav">
              <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/items">All Items</a></li>
                <li><a href="/account">Edit Account</a></li>
                <li><a href="#">Logout</a></li>
                <!-- <li><a href="">Contact</a></li> -->
              </ul>
            </div>
          </header>

        
    <!-- <hr>
        <h1><a href="/home">Wishlist</a></h1>
        <div><h2><a href="/items">All items</a></h2></div>
        <h2><a href="/login">Login</a></h2></div>
        <h2><a href="/create_account">Create Account</a></h2></div>
        <h2><a href="/admin">Admin Sign In</a></h2></div>
    </hr></header> -->

    <main>
        {% block body %}
        
         {% endblock %}
    </main>
</body>
</html>